<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dbmanager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <dbmanager.Properties.Settings>
            <setting name="DefaultLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAutoBackUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoBackupType" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoBackupSched" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunAutoDelete" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoDeleteDaysOld" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="NextBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="NextDelete" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDelete" serializeAs="String">
                <value />
            </setting>
        </dbmanager.Properties.Settings>
    </userSettings>
</configuration>